In [1]:
import pandas as pd
train_df = pd.read_csv("train.csv", encoding="utf-8")
test_df = pd.read_csv("test.csv", encoding="utf-8")

In [2]:
train_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
#數字資料如果有缺，用中位數補足
med = train_df.median()
train_df = train_df.fillna(med)
test_df = test_df.fillna(med)

In [4]:
train_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
# 類別類型的資料如果有缺，用眾數補
most = train_df["Embarked"].value_counts().idxmax()
train_df["Embarked"] = train_df["Embarked"].fillna(most)
test_df["Embarked"] = train_df["Embarked"].fillna(most)

In [6]:
n = "Braund, Mr. Owen Harris"
n = n.split(",")[-1].split(".")[0]
n.strip()

'Mr'

In [7]:
# 處理名字, 找出稱謂最多的
def nameflow(n):
    n = n.split(",")[-1].split(".")[0]
    return n.strip()

mid = train_df["Name"].apply(nameflow).value_counts()
print(mid)
reserved = mid[mid>30].index
reserved

Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Mlle              2
Major             2
Col               2
the Countess      1
Jonkheer          1
Mme               1
Ms                1
Lady              1
Don               1
Capt              1
Sir               1
Name: Name, dtype: int64

Index(['Mr', 'Miss', 'Mrs', 'Master'], dtype='object')

In [8]:
def nameflow2(n, r):
    n = n.split(",")[-1].split(".")[0]
    n = n.strip()
    if n in r:
        return n
    else:
        return None
    
train_df["Name"] = train_df["Name"].apply(nameflow2, args=(reserved, ))
test_df["Name"] = test_df["Name"].apply(nameflow2, args=(reserved, ))

In [9]:
# 把類別的資料拆成數字欄位
x_train_nodrop = pd.get_dummies(train_df, 
                                columns=["Name", "Sex", "Embarked"])
x_test_nodrop = pd.get_dummies(test_df, 
                                columns=["Name", "Sex", "Embarked"])

In [10]:
x_train = x_train_nodrop.drop(["PassengerId", "Survived", "Cabin", "Ticket"],
                                axis=1)
y_train = x_train_nodrop["Survived"]
x_test = x_test_nodrop.drop(["PassengerId", "Cabin", "Ticket"],
                           axis=1)
testid = x_test_nodrop["PassengerId"]

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
params = {
    "n_estimators":range(20, 37),
    "max_depth":range(6, 9)
}

clf = RandomForestClassifier()
cv = GridSearchCV(clf, params, cv=10, n_jobs=4)
cv.fit(x_train, y_train)
print(cv.best_params_)
print(cv.best_score_)

{'max_depth': 6, 'n_estimators': 34}
0.8439950062421973

In [29]:
import numpy as np
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(n_estimators=29, max_depth=8)
score = cross_val_score(clf, x_train, y_train, cv=10, n_jobs=4)
print(score)
print(np.average(score))

[0.78888889 0.85393258 0.71910112 0.87640449 0.88764045 0.82022472
 0.83146067 0.76404494 0.86516854 0.83146067]
0.823832709113608

In [32]:
clf = RandomForestClassifier(n_estimators=29, max_depth=8)
clf.fit(x_train, y_train)
pre = clf.predict(x_test)
result_df = pd.DataFrame({
    "PassengerId":testid,
    "Survived":pre
})

result_df.to_csv("rf.csv", index=False, encoding="utf-8")
result_df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [33]:
# Random Forest可以看哪個特徵最重要
pd.DataFrame({
    "column":x_train.columns,
    "importance":clf.feature_importances_
})

         column  importance
0        Pclass    0.095716
1           Age    0.114428
2         SibSp    0.069826
3         Parch    0.037776
4          Fare    0.168122
5   Name_Master    0.015590
6     Name_Miss    0.035051
7       Name_Mr    0.125755
8      Name_Mrs    0.051441
9    Sex_female    0.130184
10     Sex_male    0.116547
11   Embarked_C    0.014126
12   Embarked_Q    0.008463
13   Embarked_S    0.016975

In [34]:
# KNN要做Scale
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train_scale = scaler.fit_transform(x_train)
x_test_scale = scaler.transform(x_test)

In [39]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
params = {
    "n_neighbors":range(5, 100)
}

cv = GridSearchCV(clf, params, cv=10, n_jobs=4)
cv.fit(x_train_scale, y_train)
print(cv.best_params_)
print(cv.best_score_)

{'n_neighbors': 22}
0.8193508114856428

In [ ]:
pre = cv.best_estimator_.predict(x_test_scale)
result_df = pd.DataFrame({
    "PassengerId":testid,
    "Survived":pre
})

result_df.to_csv("knn.csv", index=False, encoding="utf-8")
result_df